<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
	<script>
        var urlRoot = 'http://localhost:12013/api/';
		$(document).ready(function(c) {
			$('.alert-close').on('click', function(c){
				$('.message').fadeOut('slow', function(c){
	  				$('.message').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function(c) {
			$('.alert-close1').on('click', function(c){
				$('.message1').fadeOut('slow', function(c){
	  				$('.message1').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function(c) {
			$('.alert-close2').on('click', function(c){
				$('.message2').fadeOut('slow', function(c){
	  				$('.message2').remove();
				});
			});
		});
	</script>
	<script src="~/Scripts/js/easing.js"></script>
	<script src="~/Scripts/js/move-top.js"></script>
	<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
	</script>
	<!-- start menu -->
	<link href="~/Content/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
	<script src="~/Scripts/js/megamenu.js"></script>
	<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
	
</head>
<body>
	<div class="container">
		<div class="header-top">
			<div class="logo">
				<a href="https://lamwebthenao.com"><img src="~/images/logo.png" alt=""></a>
			</div>
			<div class="header-top-on">
				<ul class="social-in">
					
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="header-bottom">
			<div class="top-nav">
				@Html.Action("TopMenu","Partial")
			</div>
			@Html.Partial("~/Views/Partial/ShoppingCart.cshtml")

			
			<div class="clearfix"> </div>
		</div>
		<div class="content">
			@Html.Partial("~/Views/Partial/RightContent.cshtml")

			<div class="col-md-9">
				@Html.Partial("~/Views/Partial/NivoSlider.cshtml")
				@RenderBody();
			</div>

		
			<div class="clearfix"> </div>
		</div>
		<!---->
		<div class="footer">
			<p> Trung Tâm Đào Lập Trình Việt Nhật<a href="https://lamwebthenao.com">Trung Tâm Đào Lập Trình Việt Nhật</a></p>
			<a href="#home" class="scroll to-Top">  GO TO TOP!</a>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!---->

	<script src="~/Scripts/js/GioHangJs.js"></script>
    @RenderSection("scripts", required: false)
	<script src="~/Areas/Admin/Content/jquery.twbsPagination.js"></script>
	<script src="~/Areas/Admin/Content/jquery.twbsPagination.min.js"></script>
	
</body>
</html>
